body {
	margin: 0px;
	padding: 0px;
	font-family: open sans, calibri, arial;
}

a {
	text-decoration: none;
        color: black;
}

a:hover {
	text-decoration: underline;
	color: blue;
}

h1 {
	size: 30px;
	margin: 5px;
	line-height: 1.5;
}

td {
	width: 250px;
	border: 1px;
	padding: 2px;
	text-align: center;
}

.done {
	color: green;
}

.not-done {
	color: red;
}

.login {
        text-align: center;
        display: inline;
}
