/*body {
	margin: 0px;
	padding: 0px;
	font-family: open sans, calibri, arial;
}*/

a {
	text-decoration: none;
    color: black;
}

a:hover {
	text-decoration: underline;
	color: blue;
}

h1 {
	size: 30px;
	margin: 5px;
	line-height: 1.5;
}

/*td {
	width: 250px;
	border: 1px;
	padding: 2px;
	text-align: center;
}*/

.done {
	color: green;
}

.not-done {
	color: red;
}

.home {
        margin-left: 95%;
        margin-right: 10px;
        display: inline-block;
}

.login {
        margin-right: 0%;
        display: inline-block;
}

.form-signin {
        text-align: center;
}

.sr-only {
        display: block;
        line-height: 1.5;
}

.form-control {
        line-height: 1.5;
        height: 25px;
        width: 200px;
        border: 1px lightgrey solid;
}

.btn-submit {
        color: #fff;
        background-color: #5bc0de;
        border: 1px solid;
        border-color: #46b8da;
        display: block;
        text-align: center;
        margin: 10px;
        size: 20px;
        margin-left: 49%;
}
